@charset "UTF-8";

/* 메뉴 이름(24시 동물병원) */
#ment {
	font-size: 30px;
	font-weight: bold;
	margin: 30px 30px 10px 30px;
	text-decoration: underline;
	text-decoration-color: rgb(41, 128, 185);
}

#details_div {
	width: 1000px;
	height: 400px;
	margin: 20px auto 100px auto;
}

#map {
	width: 500px;
	height: 400px;
	float: left;
	margin-right: 50px;
}

#hospital_info_div{
	padding: 70px 0px;
}

#hospital_name {
	font-size: 25px;
	font-weight: bold;
}

#hospital_info th {
	width: 100px;
	height: 50px;
	text-align: left;
	font-size: 15px;
}

#hospital_info td {
	width: 300px;
	font-size: 15px;
	padding-right: 20px;
}

#list_button{
	margin-top: 50px;
	margin-left: 170px;
	width: 100px;
    height: 35px;
    background: rgb(41, 128, 185);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}