@charset "UTF-8";

/* 메뉴 이름(24시 동물병원) */
#ment {
	font-size: 30px;
	font-weight: bold;
	margin: 30px 30px 10px 30px;
	text-decoration: underline;
	text-decoration-color: rgb(41, 128, 185);
}

#details_div {
	width: 100%;
	height: 350px;
}

#hospital_map {
	width: 45%;
	float: left;
	text-align: center;
}

#hospital_map img {
	width: 400px;
	heigh: 400px;
}

#hospital_info_div {
	width: 60%;
	padding: 30px 0px 0px 350px;
}

#hospital_name {
	font-size: 25px;
	font-weight: bold;
}

#hospital_info th {
	width: 90px;
	height: 50px;
	text-align: left;
	font-size: 15px;
}

#hospital_info td {
	width: 300px;
	font-size: 15px;
}