@charset "UTF-8";
/* 페이지 이름 */
#ment {
	font-size: 30px;
	font-weight: bold; /* 700; */
	margin: 30px 30px 70px 30px;
	text-decoration: underline;
	text-decoration-color: rgb(41, 128, 185);
}
/* ment 제외한 전체 div*/
#main_div {
	margin: 0px auto;
	width: 1000px;
}
/* 월별 검색 버튼 div */
#search_date_div {
	text-align: right;
	padding-right: 20px;
}
/* 월별 검색 버튼 */
#input_search_date {
	width: 150px;
	height: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #aaa;
	outline: none;
}
/* 조회 table */
#support_list_div{
	margin: 20px auto;
}

#support_list_table {
	width: 1000px;
	border-collapse: collapse;
	text-align: center;
}

#support_list_table th {
	height: 40px;
	background: rgb(41, 128, 185);
	font-size: 18px;
	color: white;
	border-right: 2px solid white;
}

#support_list_table td {
	height: 40px;
	border-bottom: 1px solid lightgray;
}
/* 월별 총 합계 div */
#total_price {
	font-size: 25px;
	font-weight: 400;
	text-align: right;
	margin-bottom: 50px;
	padding-right: 20px;
}

#total_price_won {
	font-size: 30px;
	font-weight: 600;
	color: rgb(41, 128, 185);
}